@font-face {
    font-family: 'Netflix Sans';
    src: url('path/to/netflix-sans.woff2') format('woff2'),
        url('path/to/netflix-sans.woff') format('woff');
    /* Add other font properties as needed */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: black;
    font-family: 'Netflix Sans', sans-serif;
}

.container {
    background-image: url(assets/backround.jpg);
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    position: relative;
    background-position: center center;
    height: 644px;

}

.container .box {
    height: 644px;
    width: 100%;

    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

.navii {
    display: flex;
    width: 75vw;
    margin: auto;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;

}

.bg {
    position: relative;
    z-index: 2;


}

.btn {
    position: relative;
    z-index: 2;
    color: rgb(255, 255, 255);
    background-color: red;
    line-height: 14px;
    font-size: 14px;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.sec-container {
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: calc(100% - 120px);
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

.c1 {
    font-size: 24px;
    font-weight: 500;

}

.c2 {
    font-size: 48px;
    font-weight: 900;
}

.c3 {
    font-size: 24px;
    font-weight: 400;

}

.sec-btn {
    font-size: 24px;
    line-height: 24px;
    padding: 10px 10px;
    font-weight: 500;
    background-color: rgb(230, 11, 11);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.first-video {
    display: flex;
    color: white;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;

    width: 80vw;
    flex-wrap: wrap;
    position: relative;
    padding: 64px 0px;

}

.d1 span {
    font-size: 48px;
    font-weight: 900;

}

.d1 p {
    font-size: 24px;
    font-weight: 500;
    font-size: 24px;
    font-weight: 400;
    width: 42vw;

}

.video-for-tv {
    position: absolute;
    right: 89px;
    top: 120px;
    z-index: -1;
}

/* here we write the secand sapartion text and mobile pic  */
.sec-video {
    display: flex;
    color: white;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    width: 80vw;
    flex-wrap: wrap;
    position: relative;


}

.d2 span {
    font-size: 40px;
    font-weight: 900;
    text-align: justify;
    display: block;
    width: 38vw;
    letter-spacing: -1px;
}

.d2 p {
    font-size: 24px;
    font-weight: 500;
    font-size: 24px;
    font-weight: 400;
    width: 42vw;

}

.overlap {
    position: relative;
    width: 285px;
    left: 106px;
    bottom: 127px;
    border: 1px solid white;
    border-radius: 9px;
    background-color: #000000;
    height: 83px;
    overflow-y: hidden;
}

.shot {
    display: flex;
    margin-left: 10px;
    padding: 5px 0px;
}

.box-tex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 52px;
    font-size: 16px;
}

.box-tex p {
    color: blue;
    font-size: 14px;
}

.icon {
    display: flex;
    justify-content: end;
    position: relative;
    left: 224px;
    bottom: 105px;
}

/* thrid video or text is here */
.thrid-video {
    display: flex;
    color: white;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 175px;
    padding-bottom: 50px;
    padding-top: 60px;
}

.thrid-video span {
    font-size: 48px;
    width: 50%;
    font-weight: 900;
}

.thrid-video p {
    font-size: 24px;
    font-weight: 500;
}

/* last section code is here */
.last-section {
    display: flex;
    color: white;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    width: 80vw;
    flex-wrap: wrap;
    position: relative;
    padding: 64px 0px;
}

.last-section span {
    font-size: 48px;
    width: 100%;
    font-weight: 900;

}

.last-section p {
    font-size: 24px;
    font-weight: 500;
}

.section-text {
    width: 50%;
}

/* the section is for faq */
.faq {
    margin-top: 20px;
    color: white;
    text-align: center;
    font-size: 35px;

}

.boxes {
    width: 70vw;
    height: 80px;
    background-color: #2d2d2d;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;

    transition: all 2s ease-in-out;


}

.boxes:hover {
    background-color: gray;
}

.boxes span {
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}

.plus {
    font-size: 25px;
    padding: 10px;
    overflow-x: hidden;
    width: 40px;
    margin-right: 15px;
    cursor: pointer;
}

#last-btn {
    margin: 30px 0px 30px;
}

/* end of main  */

/* now we start the footer  */
.footer-item {
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 73px 132px;
}

.item {
    text-decoration: underline;
    align-items: center;
    grid-column: 1fr;
}

.footer-item li {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    cursor: pointer;

}

.ques {
    color: rgba(255, 255, 255, 0.7);

    font-size: 14px;
    position: relative;
    top: 69px;
    left: 132px;
    text-decoration: underline;
}


select {
    position: relative;
    bottom: 57px;
    left: 135px;
    padding: 6px 10px;
    opacity: 0.8;

    background-color: #000000;
    color: white;
}

.pak {
    position: relative;
    bottom: 51px;
    left: 126px;
    font-size: 14px;
    padding: 6px 10px;
    color: white;
}

@media screen and (max-width:800px) {
    .first-video {
        text-align: center;
        width: 100vw;

    }

    .sec-video {
        text-align: center;
        width: 100vw;
        margin-right: 40px;
        padding-bottom: 20px;

    }

    .pic-overlap {
        position: relative;
        right: 60px;
    }

    .video-for-tv {
        margin-top: 16vh;

        left: 50px;
        z-index: -1;
    }

    .d1 p {
        font-size: 18px;
        width: 90vw;

    }

    /* for the secand section  */

    .d2 p {
        font-size: 18px;
        width: 90vw;

    }

    .d2 span {
        font-size: 32px;
        letter-spacing: 0px;
        width: 95vw;
        text-align: center;

    }

    .thrid-video {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .thrid-video span {
        font-size: 32px;
        width: 100%;
        font-weight: 900;
    }

    .thrid-video p {
        font-size: 20px;
        font-weight: 500;
    }

    /* last section text in media qurea */
    .last-section span {
        font-size: 32px;


    }

    .last-section p {
        font-size: 20px;
    }

    .section-text {
        width: 100%;
        text-align: center;
    }

    /* faq section */
    .boxes span {
        font-size: 14px;

    }

    .plus {
        font-size: 14px;
        padding: 10px;
        margin: 0;
    }

    .faq {
        font-size: 20px;

    }

    .boxes {
        height: 50px;
    }

    /* the footer section  */
    .footer-item {


        grid-template-columns: 1fr;
        margin: 3px 2px;
    }

    .ques {
        color: rgba(255, 255, 255, 0.7);
        padding-top: 10px;
        font-size: 20px;
        position: abolute;
        top: 0px;
        left: 0px;
        text-decoration: underline;
    }

    select {
        position: relative;
        bottom: 0px;
        left: 0px;
        margin: 5px;
        padding: 6px 10px;
        opacity: 0.8;
        z-index: 1;
        background-color: #000000;
        color: white;
    }

    .pak {
        position: relative;
        bottom: 0px;
        left: 0px;
    }
}